@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    font-family: 'Bakbak One', cursive;
    padding: 0 5%;
    height: 100px;
    
}
nav .logo{
    float: left;
    width:40%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
nav .logo a{
    text-decoration: none;
    font-size: 34px;
    color: white;
}
nav .links{
    float:right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
}
nav .links a{
    display: block;
    padding: 1em;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 100;
}
nav .links a:hover{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#nav-toggle{
    position:absolute;
    top: -100px;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 58%;
    transform: translateY(-50%s);
    
}
nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px){
    .container{
        margin-top: -100px;
        position: relative;
    }
    nav{
        background-color: rgba(0, 0, 0,0.05);
    }
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .logo a{
        font-size: 30px;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
    }
    nav .links a{
        font-size: 15px;
    }
    nav .icon-burger{
        display:block;
        top: 40%;
        
    }
    nav :checked ~ .links{
        bottom: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0 ;
    }
}
body{
    --bs-bg-opacity:1;background-color:#161A1D!important;
    color:white;
}
.gambarreza{
    max-width:inherit;
    height:100vh;
    margin-left: 50px;
    object-fit: cover;
    
}
#designer{
    color: #660708;
    font-size: 70px;
    font-weight: 900;
}
.margintop1{
    margin-top: 200px;
}
.marginleft1{
    margin-left: 80px;
}
.tengah{
    text-align: center;
}

.containercustom1{
    width: 90%;
    max-height: 100vh;
}
.gambar1{
    max-width:inherit;
    height:inherit ;
    
    object-fit: cover;
}
.maxheight{
    height: 100vh ;
}
.img-kecil{
    height: 200px;
    object-fit:contain;
}
.bg-1{--bs-bg-opacity:1;background-color:#161A1D!important}
.warna1{
    color: white;
}
.skills{
    width: 500px;
    margin: 60px auto;
    
}
.skills li{
    margin: 20px 0;
    list-style: none;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}
.html{
    width: 90%;
}
.css{
    width: 80%
}
.js{
    width: 60%
}
.py{
    width: 95%;
}
.db{
    width: 70%;
}
